---
import Navigation from "@/components/Navigation.astro";
---

<header>
  <nav class="nav-links">
    <Navigation url="/" pathname="Home" />
    <Navigation url="/about" pathname="About" />
    <Navigation url="/blog" pathname="Blog" />
  </nav>
</header>
